@{
  Layout = "_Layout";
}

<h2 class="headline">@Model["contact"].GetName() Details:</h2>

<p>Phone Number: @Model["contact"].GetPhone()</p>

<h3>Addresses:</h3>

@foreach (var address in @Model["addresses"])
{
  <h4>@address.GetAddressType() Address:</h4>
  <p>Street:@address.GetStreet()</p>
  <p>City:@address.GetCity()</p>
  <p>State:@address.GetState()</p>
  <p>Zip:@address.GetZip()</p>
  <br>
}

<div class="row footer">
  <div class="col-xs-6">
    <p><a href="/" class="btn btn-default">Back To Home Page</a></p>
  </div>
  <div class="col-xs-6 right">
    <p><a href='/contact/@Model["contact"].GetId()/address' class="btn btn-info">Add Additional Address</a></p>
  </div>
</div>
