@{
  Layout = "_Layout";
}

<h2 class="headline">Contact Created!</h2>

<h3>Name: @Model["contact"].GetName()</h3>
<h3>Phone: @Model["contact"].GetPhone()</h3>
<p>@Model["address"].GetAddressType() Address:</p>
<p>Street:@Model["address"].GetStreet()</p>
<p>City:@Model["address"].GetCity()</p>
<p>State:@Model["address"].GetState()</p>
<p>Zip:@Model["address"].GetZip()</p>

<p><a href="/contact/create" class="btn btn-default">Add Another Contact</a></p>
<p><a href="/" class="btn btn-info">Back To Home Page</a></p>
